<!doctype html>
<html lang="fr">

<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<head>
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8"/>
    <meta name="description" content=""/>
    <link type="text/css" href="{{ asset('css/jy2hyfifc-_main.css') }}" rel="stylesheet"/>
    <!-- Bootstrap CSS -->
    <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
    <!-- bootstrap theme -->
    <link href="{{ asset('css/bootstrap-theme.css') }}" rel="stylesheet">
    <!--external css-->
    <style type="text/css">.feature{clear:both;padding:20px 0}
        .feature h4{margin:50px 0 20px;color:#48261D;font-size:14px}
        .feature img{width:500px;height:265px}.feature .picLeft{float:left;margin:15px 40px 15px 0}
        .feature .picRight{float:right;margin:15px 0 15px 40px}ul.featuresNav{margin:40px 0}.featuresNav li
       a{display:block;position:relative;float:left;margin:0 14px;padding:10px 0 10px 55px;width:135px;text-decoration:none;
                font-size:13px;color:#888;font-weight:bold;border:1px solid #ccc;background:#eee url({{ asset('images/soft.png') }})
            no-repeat 10px center}.column{width:44%;float:left;margin-right:2%;padding:0 2% 20px;background:#F1EFE6}
        .column h3{font-size:17px}.column h4{margin:20px
        0;font-size:13px;color:#555;text-transform:uppercase}.pres{float:right;margin:0 0 20px 20px;width:145px}
        .pic{width:385px;margin:20px auto}.column ul{margin:20px}.column li{list-style-type:square;margin:5px 0 5px 10px}</style>
    <link rel="shortcut icon" type="image/png" href="{{ asset('images/favicon.png') }}"/>
    <script type="text/javascript" src="{{ asset('ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js') }}"></script>
    <link rel="alternate" type="application/rss+xml" href="../rss-news/index.html"/>
    <script type="text/javascript">var _gaq=_gaq||[];_gaq.push(['_setAccount','UA-20351034-1']);
    _gaq.push(['_setDomainName','none']);_gaq.push(['_setAllowLinker',true]);_gaq.push(['_setAllowAnchor',true]);
    _gaq.push(['_trackPageview']);(function(){var ga=document.createElement('script');ga.type='text/javascript';
    ga.async=true;ga.src=('https:'==document.location.protocol ?
                    'https://ssl':'http://www')+'.google-analytics.com/ga.js';var s=document.getElementsByTagName('script')[0];
                    s.parentNode.insertBefore(ga,s);})();</script>
</head>
<body>
                <div id="header">
                    <div style="background-color: #00d6b2" >
                    </div>
                </div>


        <div id="menuTopContainer"><ul id="menuTop">
                    <div id="content">
                        <div>
                            <div class="classicContent">
                                <div class="column">
                    <h3>Qu’est-ce que rapmis ?</h3>
                    <img class="pres" src="{{ asset('image/school1.jpg') }}">
                                    <p><strong>RAPMIS </strong>
                                        ( SOLUTION D’AMELIORATION DES PERFORMANCES ET RESULTATS EN MILIEU
                                        SCOLAIRE ET DE GESTION DE LA DISCIPLINE </p>
                    <p>La société HABITECH SOLUTIONS and SERVICES souhaite participer éfficacement à l’amélioration des performances
                        et résultats en milieu scolaire d’une part, et pour faciliter la gestion pédagogique d’autre part.</p>
                    <h4>CHERS PARENTS ET TUTEURS</h4>
                    <p>	A partir de la rentrée scolaire 2018-2019, assurez le meilleur suivi et encadrement de votre enfant dans
                        l’objectif d’une réussite certaine en fin d’année. L’entreprise HABITECH SOLUTIONS & SERVICES, à travers
                        sa solution RAPMIS, en partenariat avec un outil vous
                        permettant d’être informés systématiquement (par tous les canaux possibles) et régulièrement de  la vie
                        de votre enfant en milieu scolaire à travers les renseignements, consultables et disponibles au-delà de la mise à la disposition ponctuelle de l’information, et qui vous seront automatiquement destinés, sur les aspects suivants :
                    </p>
                                    <ul>
                                        <li>{{ "Ponctualité (retard aux cours);"|raw }}</li>
                                        <li>{{ "Les déviances ou tout autre comportement  lié à l’indiscipline;"|raw }}</li>
                                        <li>{{ "Absences et leur impact sur les résultats;"|raw }}</li>
                                        <li>{{ "Les permissions fantaisistes et méconnues de vous, parents ou tuteurs;"|raw }}</li>
                                        <li>{{ "Les sanctions disciplinaires;"|raw }}</li>
                                        <li>{{ "Les convocations;"|raw }}</li>
                                        <li>{{ "Les notes et les suggestions d’amélioration;"|raw }}</li>
                                        <li>{{ "Faiblesses et lacunes à combler;"|raw }}</li>
                                        <li>{{ "Son emploi de temps et ses variations;"|raw }}</li>
                                        <li>{{ "Tous les frais exigés par l’établissement;"|raw }}</li>
                                        <li>{{ "Devoirs nos faits;"|raw }}</li>
                                        <li>{{ "Les enseignants, surveillants et censeurs et leurs contacts;"|raw }}</li>
                                        <li>{{ "Les arrêts circonstanciels des cours;"|raw }}</li>
                                        <li>{{ "Les mérites et prouesses;"|raw }}</li>
                                        <li>{{ "Les compétences et les aptitudes;"|raw }}</li>
                                        <li>{{ "Etc…;"|raw }}</li>
                                    </ul>

                                    <p>{{ "La solution RAPMIS, avec l’approbation de plusieurs parents et de l’ensemble de la
                                    communauté éducative, est un outil efficace révolutionnaire qui vient permettre aux parents
                                    d’avoir désormais un contrôle permanent sur l’enfant  en milieu scolaire, lui assurer un
                                    accompagnement adéquat et rattraper à temps réel les éventuelles déperditions pour une année
                                     scolaire sereine et réussie." }}</p>


                                    <img class="pic" src="{{ asset('image/school3.jpg') }}">


                                </div>
                                <div class="column">
                                    <h3>RAPMIS "un investissement sûr et gagnant pour vos enfants"</h3><p>
                                        <img class="pres" src="{{ asset('image/school4.jpg') }}">
                                    <h4>pourquoi devons nous choisir cette solution?</h4>
                                    <ul>
                                        <li>une étude nous apprend que lorsque la courbe de discipline d'un enfant croit, celle des notes décroit,
                                            nous devons garder un en permanence un oeil sur nos enfant</li>
                                        <li>rapmis est très simple à utiliser,</li>
                                        <li>rapmis nous donne les informations en tant réel et n'importe où, ou nous nous trouvons,</li>
                                        <li>la fiabilité des informations qui s'y trouve,</li>
                                    </ul>
                                    <h4>La mise en œuvre de la solution rapmis</h4>
                                    <p>La souscription au RAPMIS est accessible pour un investissement de 2000fcfa/an pour l’ensemble des renseignements
                                        académiques et disciplinaires mis en temps réel, à la disposition du parent tout le long de l’année et pour le banking
                                        à vie de toutes ces informations.</p>
                                    <p>Des épreuves et documents sont laissées à la disposition de toute personnes désirant entrer en possession</p>

                                        <img class="pic" src="{{ asset('image/school3.jpg') }}">
                                    <h4>VOUS DEBUTEZ AVEC CE SYSTEME ?</h4>
                                    <p>Nous mettons à votre disposition un <a href="#####"> moyen
                                        </a> pour vous aider à mieux débuter avec cette  nouvelle technologie sans fournir assez d'effort.</p>
                                    <img class="pic" src="{{ asset('image/imag6.jpg') }}">
                                    <P>Grace à cette outils le parent ou letuteur pourrait veiller éfficacement à la reussite de
                                        ses enfants en mettant, ceci permettra au personnel éducatif de mieux les informations extra scolaire
                                    de l'enfant. Car nous avons plusieurs autre qualité de l'enfants qui sont généralement jeté aux oublielette, telles que:  </P>
                                    <ul>
                                        <li>sportif au sein de son école</li>
                                        <li>artististe,</li>
                                        <li>la participation de l'enfant dans les club, association au sein de l'établissement</li>
                                        <li>Bref toute la vie extra scolaire de l'élève,</li>
                                    </ul>



                                </div></div>
                            <div class="clear">

                            </div>

                            <script type="text/javascript">var iniJSON='{"lang":"fr","path_dir":"#\/","login_path":"identification",' +
                                    '"error_path":"erreur","disconnected":"Votre session a expir\u00c3\u00a9, veuillez vous reconnecter.",' +
                                    '"msg_load":"Chargement en cours !","null_value":"Valeur requise !","siteSearch":"Rechercher..."}';
                            </script><script type="text/javascript" src="{{ asset('js/53rczyg4i-_main.js') }}"></script>
                            <script type="text/javascript" src="{{ asset('pis.google.com/js/plusone.js') }}">
                            </script>
                            <script src="{{ asset('js/bootstrap.min.js') }}"></script>
                        </div></div></ul></div>
</body>

</html>
