{% extends 'base.html.twig' %}

{% block body %}
<div class="page-content-wrapper">
    <div class="page-content">
        <div class="page-bar">
            <div class="page-title-breadcrumb">
                <div class=" pull-left">
                    <div class="page-title">Dashboard</div>
                </div>
                <ol class="breadcrumb page-breadcrumb pull-right">
                    <li><i class="fa fa-home"></i>&nbsp;<a class="parent-item" href="{{ path('homepage') }}">Home</a>&nbsp;<i class="fa fa-angle-right"></i>
                    </li>
                    <li class="active">Dashboard</li>
                </ol>
            </div>
        </div>
    <h1>Modules list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Coeff</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for module in modules %}
            <tr>
                <td><a href="{{ path('modules_show', { 'id': module.id }) }}">{{ module.id }}</a></td>
                <td>{{ module.name }}</td>
                <td>{{ module.description }}</td>
                <td>{{ module.coeff }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('modules_show', { 'id': module.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('modules_edit', { 'id': module.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('modules_new') }}">Create a new module</a>
        </li>
    </ul>
    </div>
</div>
{% endblock %}
